.route-page {
	background-color: #eee;
	width: 100%;
	background-image: url('~@img/logo.png');
	background-repeat: no-repeat;
	background-position: 90% 50px;
	background-size: 80px;
	margin-bottom: 50px;
	padding: 60px 0;

	@media(min-width: 576px) {
		background-position: 90% 10px;
		background-size: 130px;
	}
	
	ul {
		@extend .d-flex, .list-unstyled;

		margin-bottom: 0;

		li {
			@extend .d-flex, .align-items-end;

			&:before {
				content: "/";
				display: block;
				color: $gray-md;
				margin: 0 20px;
				font-size: 18px;

				@media(min-width: 576px) {
					font-size: 30px;
				}
			}
				
			&:first-child {

				&:before {
					display: none;
				}
			}

			h1, h2 {
				@extend .openSansRegular;

				text-transform: uppercase;
				margin-bottom: 0;
			}

			h1 {
				color: #000;
				font-size: 20px;

				@media(min-width: 576px) {
					font-size: 30px;
				}
			}

			h2 {
				color: $gray-md;
				font-size: 18px;

				@media(min-width: 576px) {
					font-size: 25px;
				}
			}
		}
	}
}