//
//== Paths
//

// Application
$font-path : "../font/";
$font-hash : "2018001";

// Font-Awesome
$fa-font-path : "~font-awesome/fonts";

// Lightgallery
$lg-path-fonts: "~lightgallery/src/fonts";
$lg-path-images: "~lightgallery/src/img";
