.section-contact {

	.box-title-page {
		margin-bottom: 50px;

		h3 {
			@extend .openSansBold;

			color: #000;
			font-size: 22px;

			@media(min-width: 576px) {
				font-size: 28px;
			}
		}

		h4 {
			@extend .openSansRegular;

			color: $gray-md;
			font-size: 18px;

			@media(min-width: 576px) {
				font-size: 24px;
			}
		}
	}

	.form-site {
		
		.form-group {

			label {
				@extend .openSansRegular;

				font-size: 18px;
				color: $gray-md;
			}

			.form-control {
				border: 1px solid #ddd;
				width: 100%;
				border-radius: 0;
			}
			
			input.form-control {
				height: 50px;
			}

			textarea.form-control {
				height: 252px;
				resize: none;
			}
		}

		.btn-form {
			@extend .openSansBold;

			background-color: $orange;
			text-transform: uppercase;
			color: #fff;
			border: none;
			border-radius: 50px;
			padding: 10px 30px;

			&:hover {
				background-color: darken($orange, 10%);
			}

			&:focus {
				outline: none;
			}

		}
	}
}