.section-partner {

	.title-partner {
		@extend .text-center;
		
		margin-bottom: 30px;

		h3 {
			@extend .openSansBold;

			font-size: 24px;
			color: $gray-dk;
			text-transform: uppercase;

			span {
				@extend .openSansRegular;
			}
		}
	}
	
	.list-partner {
		@extend .d-flex, .justify-content-between, .list-unstyled, .text-center, .flex-wrap;

		li {
			@extend .d-flex, .flex-column;

			width: 100%;
			margin-bottom: 30px;

			@media(min-width: 576px) {
				width: 50%;
			}

			@media(min-width: 992px) {
				width: unset;
				margin-bottom: 0;
			}

			.logo-partner {

				img {
					width: 100px;
				}
			}
		}

	}
}